Checks: '-*,bugprone-*, -bugprone-easily-swappable-parameters,cert-*,cppcoreguidelines-narrowing-conversions,cppcoreguidelines-pro-type-const-cast,cppcoreguidelines-pro-type-reinterpret-cast,cppcoreguidelines-pro-type-cstyle-cast,cppcoreguidelines-slicing,performance-*,readability-redundant-*,readability-static-accessed-through-instance'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/kvbench/.*'
